<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/Home"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="breadcrumb-item active">{{pageCurrent}}</li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div ng-include="'Partial/Common/AccessDirectToPage.html'"></div>
    </li>
</ol>
<form role="form" name="myForm">
    <div class="card">
        <div class="card-header">
            <h1>Summary Request #{{request.Id}} </h1>
            <small></small>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-warning">
                        <div class="card-body">
                            <nav class="nav flex-column">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <b>Product</b>
                                            <input type="text" class="form-control custom-control" disabled value="{{request.ProductName}}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <b>
                                            Stowage Factor
                                        </b>
                                        <div class="input-group">
                                            <input type="text" class="form-control custom-control" disabled value="{{request.StowageFactorName}}" ng-if="item.StowageFactorId!='9999999'" />
                                            <input type="text" class="form-control custom-control" disabled value="{{request.StowageFactor  | number:2 }}" ng-if="item.StowageFactorId=='9999999'" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">{{request.Measure}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <b>
                                            Quantity
                                        </b>
                                        <div class="input-group">
                                            <input type="text" class="form-control custom-control" disabled value="{{request.QuantityMTName}}" ng-if="request.QuantityId!='9999999'" />
                                            <input type="text" class="form-control custom-control" disabled value="{{request.Quantity  | number:2 }}" ng-if="request.QuantityId=='9999999'" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">{{request.MeasureQuantity}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <b>From</b>
                                        <input type="text" class="form-control custom-control" disabled value="{{request.LoadPortName}}" />
                                    </div>
                                    <div class="col-md-6">
                                        <label> </label>
                                        <input type="text" class="form-control custom-control" disabled value="{{request.LoadTerminalName}}" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <b>To</b>
                                        <input type="text" class="form-control custom-control" disabled value="{{request.DischargePortName}}" />
                                    </div>
                                    <div class="col-md-6">
                                        <label> </label>
                                        <input type="text" class="form-control custom-control" disabled value="{{request.DischargeTerminalName}}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>Loading Rate</b>
                                        <input type="text" class="form-control custom-control" disabled value="{{request.LoadingRate | number:2 }}" />
                                    </div>
                                    <div class="col-md-6">
                                        <b>UnLoading Rate</b>
                                        <input type="text" class="form-control custom-control" disabled value="{{request.UnLoadingRate | number:2 }}" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <b>Laycan</b>
                                        <input type="text" class="form-control custom-control" disabled value="{{request.StartLaycan | date: 'yyyy-MMMM-dd'}}" />
                                    </div>
                                    <div class="col-md-6">
                                        <label> </label>
                                        <input type="text" class="form-control custom-control" disabled value="{{request.EndLaycan | date: 'yyyy-MMMM-dd'}}" />
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card border-warning">
                        <div class="card-body">
                            <div class="card border-warning" ng-repeat="data in items">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3 text-center" style="top: 40px !important;">
                                            <div class="text-center">
                                                <div class="text-primary"><h1>{{data.TotalQuantityMT | currency}}</h1></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <dl class="row">
                                                <dd class="col-sm-4">Vessel:</dd>
                                                <dd class="col-sm-8"><b>{{data.Vessel}}</b></dd>
                                                <dd class="col-sm-4">Laycan:</dd>
                                                <dt class="col-sm-8">{{data.StartLaycan | date: 'dd/MM/yyyy'}} to {{data.EndLaycan| date: 'dd/MM/yyyy'}}</dt>
                                                <dd class="col-sm-4">ETA to Load Port:</dd>
                                                <dt class="col-sm-8">{{data.StartLaycan | date: 'dd/MM/yyyy'}}</dt>
                                                <dd class="col-sm-4">Transit Time:</dd>
                                                <dt class="col-sm-8">{{data.TotalDay | number :2}} Days</dt>
                                                <dd class="col-sm-4">Demurrage:</dd>
                                                <dt class="col-sm-8">USD {{data.Demurrage | number}}/Day</dt>
                                            </dl>
                                        </div>
                                        <div class="col-sm-3 text-center" style="top: 40px !important;">
                                            <div class="fa fa-check-circle info fa-5x text-success text-center"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group float-right">
                        <a  href="#/Step" class="btn btn-danger active"><i class="fa fa-search"></i> SEARCH THE RIGHT VESSEL FOR YOUR CARGO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>