<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="#/Countries">Countries</a></li>
    <li class="breadcrumb-item active">{{pageCurrent}}</li>
    <li class="breadcrumb-menu d-md-down-none">
        <div ng-include="'Partial/Common/AccessDirectToPage.html'"></div>
    </li>
</ol>
<form role="form" name="myForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Detail</strong>
                    <small><b>{{item.Country}}</b></small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Code</label> <label class="text-danger">*</label>
                                <input type="text" ng-class="(myForm.Code.$dirty || !isValid) && !myForm.Code.$valid?'is-invalid' : ''" class="form-control custom-control" style="text-transform: uppercase" name="Code" placeholder="Code" ng-model="item.Code" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Country</label> <label class="text-danger">*</label>
                                <input type="text" ng-class="(myForm.Country.$dirty || !isValid) && !myForm.Country.$valid?'is-invalid' : ''" class="form-control custom-control" name="Country" placeholder="Country" ng-model="item.Country" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="switch switch-lg switch-3d switch-primary">
                                    <input type="checkbox" class="switch-input" name="IsActive" ng-true-value="true" ng-false-value="false" ng-checked="item.IsActive===true" ng-model="item.IsActive">
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>   Inactive
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group float-right">
                                <a class="btn btn-outline-danger" href="#/Countries">Cancel</a>
                                <button type="submit" class="btn btn-outline-success" ng-click="Save()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>