<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/Home"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="breadcrumb-item active">{{pageCurrent}}</li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div ng-include="'Partial/Common/AccessDirectToPage.html'"></div>
    </li>
</ol>

<form role="form" name="myForm">
    <div class="row">
        <div class="col-lg-12">
            <div class="card  border-danger">
                <div class="card-header">
                    <h1 class="float-left display-3 mr-4">404</h1>
                    <h4 class="pt-3">Oops! You're lost.</h4>
                    <p class="text-muted">The page you are looking for was not found.</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control" id="Login" name="Login" ng-model="Login" placeholder="Name" required>
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-warning" ng-click="RefreshToken()">Refresh Token</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>