<div class="modal fade" id="primaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sent Requests  #{{Id}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        ¿Do you want to continued?
                        <br />
                        All other firm bids wiil be discard
                        <br />
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-secondary btn-lg  pull-right" data-dismiss="modal"><i class="fa fa-remove"></i> Cancel</button>
                    </div>
                    <div class="col-sm-3">
                        <span>&#160;</span>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-warning btn-lg pull-right" ng-click="goConfirmation()"><i class="fa fa-play"></i> Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>