<div class="modal fade" id="primaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update all request that connection with this vessel.</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <b>¿Previous freight indications already sent o only for new ones?</b>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-secondary btn-lg  pull-right" data-dismiss="modal"><i class="fa fa-remove"></i> Cancel</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-warning btn-lg pull-right" ng-click="Update()"><i class="fa fa-play"></i> Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>