<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="#/Conditions">Conditions</a></li>
    <li class="breadcrumb-item active">{{pageCurrent}}</li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div ng-include="'Partial/Common/AccessDirectToPage.html'"></div>
    </li>
</ol>

<form role="form" name="myForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Detail</strong>
                    <small><b>{{item.name}}</b></small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Name</label> <label class="text-danger">*</label>
                                <input type="text" class="form-control custom-control" ng-class="(myForm.name.$dirty || !isValid) && !myForm.name.$valid?'is-invalid' : ''" name="name" placeholder="Name" ng-model="item.name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Value</label> <label class="text-danger">*</label>
                                <input type="text" class="form-control custom-control" ng-class="(myForm.value.$dirty || !isValid) && !myForm.value.$valid?'is-invalid' : ''" ui-number-mask name="value" placeholder="value" ng-model="item.value" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control custom-control" name="Description" placeholder="Description" ng-model="item.description">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="switch switch-lg switch-3d switch-primary">
                                    <input type="checkbox" class="switch-input" name="Status" ng-true-value="true" ng-false-value="false" ng-checked="item.IsActive===true" ng-model="item.IsActive">
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>  Inactive
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group float-right">
                                <a class="btn btn-outline-danger" href="#/Conditions">Cancel</a>
                                <button type="submit" class="btn btn-outline-success" ng-click="Save(item.Token)">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>