<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="#/Profiles">Perfiles</a></li>
    <li class="breadcrumb-item active">{{pageCurrent}}</li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div ng-include="'Partial/Common/AccessDirectToPage.html'"></div>
    </li>
</ol>

<form role="form" name="myForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Detail</strong>
                    <small><b>{{item.Profile}}</b></small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Profile</label> <label class="text-danger">*</label>
                                <input type="text" class="form-control custom-control" ng-class="(myForm.Profile.$dirty || !isValid) && !myForm.Profile.$valid?'is-invalid' : ''" name="Profile" placeholder="Profile" ng-model="item.Profile" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Code</label> <label class="text-danger">*</label>
                                <input type="text" class="form-control custom-control" ng-class="(myForm.Section.$dirty || !isValid) && !myForm.Section.$valid?'is-invalid' : ''" name="Section" ng-disabled="Id!=0" placeholder="Section" ng-model="item.Section" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="switch switch-lg switch-3d switch-primary">
                                    <input type="checkbox" class="switch-input" name="Status" ng-true-value="true" ng-false-value="false" ng-checked="item.IsActive===true" ng-model="item.IsActive">
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                    Inactive
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="switch switch-lg switch-3d switch-primary">
                                    <input type="checkbox" class="switch-input" name="IsBlock" ng-true-value="true" ng-false-value="false" ng-checked="item.IsBlock===true" ng-model="item.IsBlock">
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>   Is Block
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group float-right">
                                <a class="btn btn-outline-danger" href="#/Profiles">Cancel</a>
                                <button type="submit" class="btn btn-outline-success" ng-click="Save(item.Token)">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>